.img404[data-v-69f24447] {
  width: 400px;
  width: 4.68521rem;
  height: auto;
  display: block;
  margin: 0 auto;
}
.tips-btn[data-v-69f24447] {
  text-align: center;
}
.tips-btn a[data-v-69f24447] {
  text-decoration: none;
  color: #456fc4;
}