.country-fair-tips[data-v-17c99c41] {
  color: #456FC4;
  font-size: 12px;
  font-size: 0.14056rem;
  cursor: pointer;
}
.country-fair[data-v-17c99c41] {
  margin-top: 40px;
  margin-top: 0.46852rem;
}
.country-fair[data-v-17c99c41] .nft-list {
  margin-top: 40px;
  margin-top: 0.46852rem;
}
.intro-tips[data-v-17c99c41] {
  display: inline-block;
  background: rgba(254, 179, 56, 0.3);
  color: #fff;
  padding: 10px;
  padding: 0.11713rem;
  border-radius: 6px;
  border-radius: 0.07028rem;
  line-height: 30px;
  line-height: 0.35139rem;
}
.intro-tips a[data-v-17c99c41] {
  color: #76a3ff;
  cursor: pointer;
}
.country-fair-tips-list[data-v-17c99c41] {
  margin-top: 30px;
  margin-top: 0.35139rem;
}
.country-fair-tips-list .country-fair-tips-item[data-v-17c99c41] {
  font-size: 14px;
  font-size: 0.16398rem;
  line-height: 28px;
  line-height: 0.32796rem;
  margin-bottom: 30px;
  margin-bottom: 0.35139rem;
}
.country-fair-tips-list .country-fair-tips-item a[data-v-17c99c41] {
  color: #456FC4;
  cursor: pointer;
}