.is-null[data-v-a05a7722] {
  padding: 60px 0;
  padding: 0.70278rem 0;
  text-align: center;
}
.is-null img[data-v-a05a7722] {
  width: 100px;
  width: 1.1713rem;
  height: auto;
}
.is-null .tips[data-v-a05a7722] {
  color: #909399;
  margin-top: 15px;
  margin-top: 0.1757rem;
}