.meta-bot-list .meta-bot-item .cont .user-list .user-item .name[data-v-46fd3b38], .meta-bot-list .meta-bot-item .cont .name[data-v-46fd3b38] {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.banner[data-v-46fd3b38] {
  margin-top: 40px;
  margin-top: 0.46852rem;
}
.banner a img[data-v-46fd3b38] {
  border-radius: 8px;
  border-radius: 0.0937rem;
}
.metabot-tags[data-v-46fd3b38] {
  margin-top: 40px;
  margin-top: 0.46852rem;
}
.metabot-tags .metabot-tag[data-v-46fd3b38] {
  cursor: pointer;
  background: #fff;
  padding: 12px 16px;
  padding: 0.14056rem 0.18741rem;
  font-size: 16px;
  font-size: 0.18741rem;
  margin-right: 15px;
  margin-right: 0.1757rem;
  border-radius: 8px;
  border-radius: 0.0937rem;
  display: inline-block;
  margin-bottom: 10px;
  margin-bottom: 0.11713rem;
}
.metabot-tags .metabot-tag.active[data-v-46fd3b38] {
  background: #5b6eb0;
}
.metabot-tags .metabot-tag[data-v-46fd3b38]:last-child {
  margin-right: 0;
}
.meta-bot-list[data-v-46fd3b38] {
  margin-top: 30px;
  margin-top: 0.35139rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38] {
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  border-radius: 0.0937rem;
  display: inline-block;
  margin-right: 20px;
  margin-right: 0.23426rem;
  margin-bottom: 20px;
  margin-bottom: 0.23426rem;
  width: calc((100% - 80px) / 5);
  width: calc((100% - 0.93704rem) / 5);
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(5n) {
  margin-right: 0;
}
.meta-bot-list .meta-bot-item .cover[data-v-46fd3b38] {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.meta-bot-list .meta-bot-item .cover[data-v-46fd3b38] .el-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px 8px 0 0;
  border-radius: 0.0937rem 0.0937rem 0 0;
}
.meta-bot-list .meta-bot-item .cover .countdown[data-v-46fd3b38] {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: #303133;
  border-radius: 6px;
  border-radius: 0.07028rem;
  line-height: 30px;
  line-height: 0.35139rem;
  padding: 0 12px;
  padding: 0 0.14056rem;
  font-size: 12px;
  font-size: 0.14056rem;
  color: #fff;
  margin-top: 10px;
  margin-top: 0.11713rem;
  margin-right: 10px;
  margin-right: 0.11713rem;
}
.meta-bot-list .meta-bot-item .cover .countdown span[data-v-46fd3b38] {
  vertical-align: middle;
  display: inline-block;
}
.meta-bot-list .meta-bot-item .cover .countdown .dot[data-v-46fd3b38] {
  width: 6px;
  width: 0.07028rem;
  height: 6px;
  height: 0.07028rem;
  border-radius: 50%;
  background: #5b6eb0;
  margin-right: 6px;
  margin-right: 0.07028rem;
}
.meta-bot-list .meta-bot-item .cont[data-v-46fd3b38] {
  padding: 20px 15px;
  padding: 0.23426rem 0.1757rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.meta-bot-list .meta-bot-item .cont .name[data-v-46fd3b38] {
  font-size: 16px;
  font-size: 0.18741rem;
  font-weight: 500;
}
.meta-bot-list .meta-bot-item .cont .name .el-skeleton__text[data-v-46fd3b38] {
  height: 20px;
  height: 0.23426rem;
}
.meta-bot-list .meta-bot-item .cont .user-list[data-v-46fd3b38] {
  margin-top: 8px;
  margin-top: 0.0937rem;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item[data-v-46fd3b38] {
  position: relative;
  margin-bottom: 8px;
  margin-bottom: 0.0937rem;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item[data-v-46fd3b38]:last-child {
  margin-bottom: 0;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item .el-skeleton__text[data-v-46fd3b38] {
  height: 13px;
  height: 0.15227rem;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item .avatar[data-v-46fd3b38] {
  width: 18px;
  width: 0.21083rem;
  height: 18px;
  height: 0.21083rem;
  border-radius: 50%;
  margin-right: 4px;
  margin-right: 0.04685rem;
  overflow: hidden;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item .name[data-v-46fd3b38] {
  font-size: 13px;
  font-size: 0.15227rem;
  font-weight: 400;
}
.meta-bot-list .meta-bot-item .cont .user-list .user-item .type[data-v-46fd3b38] {
  color: #909399;
  font-size: 13px;
  font-size: 0.15227rem;
  white-space: nowrap;
}
.meta-bot-list .meta-bot-item .cont .btn[data-v-46fd3b38] {
  margin-top: 20px;
  margin-top: 0.23426rem;
  display: block;
}
.meta-bot-list .meta-bot-item .cont .btn.btn-gray[data-v-46fd3b38] {
  cursor: not-allowed;
}
.meta-bot-list .meta-bot-item .cont .btn.line-through[data-v-46fd3b38] {
  text-decoration: line-through;
}
.meta-bot-list .meta-bot-item .cont .btn.auction-btn[data-v-46fd3b38] {
  padding: 0;
  height: 50px;
  height: 0.58565rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.meta-bot-list .meta-bot-item .cont .btn.auction-btn .status[data-v-46fd3b38] {
  font-size: 10px;
  font-size: 0.11713rem;
}
.meta-bot-list .meta-bot-item .cont .btn.auction-btn .amount[data-v-46fd3b38] {
  font-size: 13px;
  font-size: 0.15227rem;
  font-weight: bold;
  margin-top: 4px;
  margin-top: 0.04685rem;
}
.meta-bot-list .meta-bot-item .cont .btn[data-v-46fd3b38] .el-loading-parent--relative .el-loading-spinner {
  top: 0;
}
.countdown[data-v-46fd3b38] {
  margin-top: 40px;
  margin-top: 0.46852rem;
  text-align: center;
}
.countdown .cont[data-v-46fd3b38] {
  margin-top: 10px;
  margin-top: 0.11713rem;
  font-size: 32px;
  font-size: 0.37482rem;
  font-weight: bold;
  color: #5b6eb0;
}
.el-skeleton-item-image[data-v-46fd3b38] {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 8px 8px 0 0;
  border-radius: 0.0937rem 0.0937rem 0 0;
}
@media only screen and (max-width: 900px) {
.meta-bot-list .meta-bot-item[data-v-46fd3b38] {
    width: calc((100% - 60px) / 4);
    width: calc((100% - 0.70278rem) / 4);
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(5n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(4n) {
    margin-right: 0px;
    margin-right: 0;
}
}
@media only screen and (max-width: 800px) {
.meta-bot-list .meta-bot-item[data-v-46fd3b38] {
    width: calc((100% - 40px) / 3);
    width: calc((100% - 0.46852rem) / 3);
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(5n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(4n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(3n) {
    margin-right: 0px;
    margin-right: 0;
}
}
@media only screen and (max-width: 600px) {
.meta-bot-list .meta-bot-item[data-v-46fd3b38] {
    width: calc((100% - 20px) / 2);
    width: calc((100% - 0.23426rem) / 2);
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(5n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(4n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(3n) {
    margin-right: 20px;
    margin-right: 0.23426rem;
}
.meta-bot-list .meta-bot-item[data-v-46fd3b38]:nth-child(2n) {
    margin-right: 0;
}
}