@media only screen and (max-width: 500px) {
.section-screen[data-v-0a53fc47] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}
.section-screen .search-warp[data-v-0a53fc47] {
    width: 100%;
}
.section-screen .tags[data-v-0a53fc47] {
    margin-top: 15px;
    margin-top: 0.1757rem;
}
.section-screen .tags a[data-v-0a53fc47] {
    margin-bottom: 15px;
    margin-bottom: 0.1757rem;
}
.screen-rigth[data-v-0a53fc47] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.screen-rigth .sort-warp[data-v-0a53fc47] {
    margin-left: 10px;
    margin-left: 0.11713rem;
}
}