.recommend .recommend-header img[data-v-085619f2] {
  width: 24px;
  width: 0.28111rem;
  height: 24px;
  height: 0.28111rem;
  left: 0;
  cursor: pointer;
}
.recommend .recommend-header .cont[data-v-085619f2] {
  margin-left: 15px;
  margin-left: 0.1757rem;
}
.recommend .recommend-header .title[data-v-085619f2] {
  font-size: 24px;
  font-size: 0.28111rem;
}
.recommend .recommend-header .drsc[data-v-085619f2] {
  font-size: 14px;
  font-size: 0.16398rem;
  color: #909399;
  margin-top: 10px;
  margin-top: 0.11713rem;
}
.recommend .recomment-list[data-v-085619f2] {
  margin-top: 40px;
  margin-top: 0.46852rem;
}