.el-tag{--el-tag-font-size:12px;--el-tag-font-size:0.14056rem;--el-tag-border-radius:4px;--el-tag-border-radius:0.04685rem;--el-tag-padding:0 10px;--el-tag-padding:0 0.11713rem}.el-tag{--el-tag-background-color:#ecf5ff;--el-tag-border-color:#d9ecff;--el-tag-font-color:#409eff;--el-tag-hover-color:#409eff;background-color:var(--el-tag-background-color);border-color:var(--el-tag-border-color);color:var(--el-tag-font-color);display:inline-block;height:32px;height:0.37482rem;padding:var(--el-tag-padding);line-height:30px;line-height:0.35139rem;font-size:var(--el-tag-font-size);border-width:1px;border-width:0.01171rem;border-style:solid;border-radius:var(--el-tag-border-radius);-webkit-box-sizing:border-box;box-sizing:border-box;white-space:nowrap}.el-tag.is-hit{border-color:#409eff}.el-tag .el-tag__close{color:var(--el-tag-font-color)}.el-tag .el-tag__close:hover{color:var(--el-color-white);background-color:var(--el-tag-hover-color)}.el-tag.el-tag--primary{--el-tag-background-color:#ecf5ff;--el-tag-border-color:#d9ecff;--el-tag-font-color:#409eff;--el-tag-hover-color:#409eff}.el-tag.el-tag--primary.is-hit{border-color:#409eff}.el-tag.el-tag--success{--el-tag-background-color:#f0f9eb;--el-tag-border-color:#e1f3d8;--el-tag-font-color:#67c23a;--el-tag-hover-color:#67c23a}.el-tag.el-tag--success.is-hit{border-color:#67c23a}.el-tag.el-tag--warning{--el-tag-background-color:#fdf6ec;--el-tag-border-color:#faecd8;--el-tag-font-color:#e6a23c;--el-tag-hover-color:#e6a23c}.el-tag.el-tag--warning.is-hit{border-color:#e6a23c}.el-tag.el-tag--danger{--el-tag-background-color:#fef0f0;--el-tag-border-color:#fde2e2;--el-tag-font-color:#f56c6c;--el-tag-hover-color:#f56c6c}.el-tag.el-tag--danger.is-hit{border-color:#f56c6c}.el-tag.el-tag--error{--el-tag-background-color:#fef0f0;--el-tag-border-color:#fde2e2;--el-tag-font-color:#f56c6c;--el-tag-hover-color:#f56c6c}.el-tag.el-tag--error.is-hit{border-color:#f56c6c}.el-tag.el-tag--info{--el-tag-background-color:#f4f4f5;--el-tag-border-color:#e9e9eb;--el-tag-font-color:#909399;--el-tag-hover-color:#909399}.el-tag.el-tag--info.is-hit{border-color:#909399}.el-tag .el-icon-close{border-radius:50%;text-align:center;position:relative;cursor:pointer;font-size:12px;font-size:0.14056rem;height:16px;height:0.18741rem;width:16px;width:0.18741rem;line-height:16px;line-height:0.18741rem;vertical-align:middle;top:-1px;top:-0.01171rem;right:-5px;right:-0.05857rem}.el-tag .el-icon-close::before{display:block}.el-tag--dark{--el-tag-background-color:#409eff;--el-tag-border-color:#409eff;--el-tag-font-color:white;--el-tag-hover-color:#66b1ff;background-color:var(--el-tag-background-color);border-color:var(--el-tag-border-color);color:var(--el-tag-font-color)}.el-tag--dark.is-hit{border-color:#409eff}.el-tag--dark .el-tag__close{color:var(--el-tag-font-color)}.el-tag--dark .el-tag__close:hover{color:var(--el-color-white);background-color:var(--el-tag-hover-color)}.el-tag--dark.el-tag--primary{--el-tag-background-color:#409eff;--el-tag-border-color:#409eff;--el-tag-font-color:white;--el-tag-hover-color:#66b1ff}.el-tag--dark.el-tag--primary.is-hit{border-color:#409eff}.el-tag--dark.el-tag--success{--el-tag-background-color:#67c23a;--el-tag-border-color:#67c23a;--el-tag-font-color:white;--el-tag-hover-color:#85ce61}.el-tag--dark.el-tag--success.is-hit{border-color:#67c23a}.el-tag--dark.el-tag--warning{--el-tag-background-color:#e6a23c;--el-tag-border-color:#e6a23c;--el-tag-font-color:white;--el-tag-hover-color:#ebb563}.el-tag--dark.el-tag--warning.is-hit{border-color:#e6a23c}.el-tag--dark.el-tag--danger{--el-tag-background-color:#f56c6c;--el-tag-border-color:#f56c6c;--el-tag-font-color:white;--el-tag-hover-color:#f78989}.el-tag--dark.el-tag--danger.is-hit{border-color:#f56c6c}.el-tag--dark.el-tag--error{--el-tag-background-color:#f56c6c;--el-tag-border-color:#f56c6c;--el-tag-font-color:white;--el-tag-hover-color:#f78989}.el-tag--dark.el-tag--error.is-hit{border-color:#f56c6c}.el-tag--dark.el-tag--info{--el-tag-background-color:#909399;--el-tag-border-color:#909399;--el-tag-font-color:white;--el-tag-hover-color:#a6a9ad}.el-tag--dark.el-tag--info.is-hit{border-color:#909399}.el-tag--plain{--el-tag-background-color:white;--el-tag-border-color:#b3d8ff;--el-tag-font-color:#409eff;--el-tag-hover-color:#409eff;background-color:var(--el-tag-background-color);border-color:var(--el-tag-border-color);color:var(--el-tag-font-color)}.el-tag--plain.is-hit{border-color:#409eff}.el-tag--plain .el-tag__close{color:var(--el-tag-font-color)}.el-tag--plain .el-tag__close:hover{color:var(--el-color-white);background-color:var(--el-tag-hover-color)}.el-tag--plain.el-tag--primary{--el-tag-background-color:white;--el-tag-border-color:#b3d8ff;--el-tag-font-color:#409eff;--el-tag-hover-color:#409eff}.el-tag--plain.el-tag--primary.is-hit{border-color:#409eff}.el-tag--plain.el-tag--success{--el-tag-background-color:white;--el-tag-border-color:#c2e7b0;--el-tag-font-color:#67c23a;--el-tag-hover-color:#67c23a}.el-tag--plain.el-tag--success.is-hit{border-color:#67c23a}.el-tag--plain.el-tag--warning{--el-tag-background-color:white;--el-tag-border-color:#f5dab1;--el-tag-font-color:#e6a23c;--el-tag-hover-color:#e6a23c}.el-tag--plain.el-tag--warning.is-hit{border-color:#e6a23c}.el-tag--plain.el-tag--danger{--el-tag-background-color:white;--el-tag-border-color:#fbc4c4;--el-tag-font-color:#f56c6c;--el-tag-hover-color:#f56c6c}.el-tag--plain.el-tag--danger.is-hit{border-color:#f56c6c}.el-tag--plain.el-tag--error{--el-tag-background-color:white;--el-tag-border-color:#fbc4c4;--el-tag-font-color:#f56c6c;--el-tag-hover-color:#f56c6c}.el-tag--plain.el-tag--error.is-hit{border-color:#f56c6c}.el-tag--plain.el-tag--info{--el-tag-background-color:white;--el-tag-border-color:#d3d4d6;--el-tag-font-color:#909399;--el-tag-hover-color:#909399}.el-tag--plain.el-tag--info.is-hit{border-color:#909399}.el-tag--medium{height:28px;height:0.32796rem;line-height:26px;line-height:0.30454rem}.el-tag--small{height:24px;height:0.28111rem;line-height:22px;line-height:0.25769rem}.el-tag--mini{height:20px;height:0.23426rem;line-height:18px;line-height:0.21083rem}.el-tag--medium .el-icon-close{-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}.el-tag--small{padding:0 8px;padding:0 0.0937rem}.el-tag--small .el-icon-close{-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}.el-tag--mini{padding:0 5px;padding:0 0.05857rem}.el-tag--mini .el-icon-close{margin-left:-3px;margin-left:-0.03514rem;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}.el-select-dropdown__item{font-size:var(--el-font-size-base);padding:0 32px 0 20px;padding:0 0.37482rem 0 0.23426rem;position:relative;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;color:var(--el-text-color-regular);height:34px;height:0.39824rem;line-height:34px;line-height:0.39824rem;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer}.el-select-dropdown__item.is-disabled{color:var(--el-text-color-placeholder);cursor:not-allowed}.el-select-dropdown__item.is-disabled:hover{background-color:var(--el-color-white)}.el-select-dropdown__item.hover,.el-select-dropdown__item:hover{background-color:var(--el-background-color-base)}.el-select-dropdown__item.selected{color:var(--el-color-primary);font-weight:700}.el-select-group{margin:0;padding:0}.el-select-group__wrap{position:relative;list-style:none;margin:0;padding:0}.el-select-group__wrap:not(:last-of-type){padding-bottom:24px;padding-bottom:0.28111rem}.el-select-group__wrap:not(:last-of-type)::after{content:"";position:absolute;display:block;left:20px;left:0.23426rem;right:20px;right:0.23426rem;bottom:12px;bottom:0.14056rem;height:1px;height:0.01171rem;background:var(--el-border-color-light)}.el-select-group__split-dash{position:absolute;left:20px;left:0.23426rem;right:20px;right:0.23426rem;height:1px;height:0.01171rem;background:var(--el-border-color-light)}.el-select-group__title{padding-left:20px;padding-left:0.23426rem;font-size:12px;font-size:0.14056rem;color:var(--el-color-info);line-height:30px;line-height:0.35139rem}.el-select-group .el-select-dropdown__item{padding-left:20px;padding-left:0.23426rem}.el-select-dropdown{z-index:calc(var(--el-index-top) + 1);border-radius:var(--el-border-radius-base);-webkit-box-sizing:border-box;box-sizing:border-box}.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{color:var(--el-color-primary);background-color:var(--el-color-white)}.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover{background-color:var(--el-background-color-base)}.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{position:absolute;right:20px;right:0.23426rem;font-family:element-icons;content:"\e6da";font-size:12px;font-size:0.14056rem;font-weight:700;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list{padding:0}.el-select-dropdown__empty{padding:10px 0;padding:0.11713rem 0;margin:0;text-align:center;color:var(--el-text-color-secondary);font-size:var(--el-select-font-size)}.el-select-dropdown__wrap{max-height:274px;max-height:3.20937rem}.el-select-dropdown__list{list-style:none;padding:6px 0;padding:0.07028rem 0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box}.el-select{--el-select-border-color-hover:var(--el-border-color-hover);--el-select-disabled-border:var(--el-disabled-border-base);--el-select-font-size:var(--el-font-size-base);--el-select-close-hover-color:var(--el-text-color-secondary);--el-select-input-color:var(--el-text-color-placeholder);--el-select-multiple-input-color:var(--el-text-color-regular);--el-select-input-focus-border-color:var(--el-color-primary);--el-select-input-font-size:14px;--el-select-input-font-size:0.16398rem}.el-select{display:inline-block;position:relative;line-height:40px;line-height:0.46852rem}.el-select__popper.el-popper[role=tooltip]{background:var(--el-color-white);border:1px solid var(--el-border-color-light);border:0.01171rem solid var(--el-border-color-light);-webkit-box-shadow:var(--el-box-shadow-light);box-shadow:var(--el-box-shadow-light)}.el-select__popper.el-popper[role=tooltip] .el-popper__arrow::before{border:1px solid var(--el-border-color-light);border:0.01171rem solid var(--el-border-color-light)}.el-select__popper.el-popper[role=tooltip][data-popper-placement^=top] .el-popper__arrow::before{border-top-color:transparent;border-left-color:transparent}.el-select__popper.el-popper[role=tooltip][data-popper-placement^=bottom] .el-popper__arrow::before{border-bottom-color:transparent;border-right-color:transparent}.el-select__popper.el-popper[role=tooltip][data-popper-placement^=left] .el-popper__arrow::before{border-left-color:transparent;border-bottom-color:transparent}.el-select__popper.el-popper[role=tooltip][data-popper-placement^=right] .el-popper__arrow::before{border-right-color:transparent;border-top-color:transparent}.el-select--medium{line-height:36px;line-height:0.42167rem}.el-select--small{line-height:32px;line-height:0.37482rem}.el-select--mini{line-height:28px;line-height:0.32796rem}.el-select .el-select__tags>span{display:inline-block}.el-select:hover .el-input__inner{border-color:var(--el-select-border-color-hover)}.el-select .el-select__tags-text{-o-text-overflow:ellipsis;text-overflow:ellipsis;display:inline-block;overflow-x:hidden;vertical-align:bottom}.el-select .el-input__inner{cursor:pointer;padding-right:35px;padding-right:0.40996rem;display:block}.el-select .el-input__inner:focus{border-color:var(--el-select-input-focus-border-color)}.el-select .el-input{display:block}.el-select .el-input .el-select__caret{color:var(--el-select-input-color);font-size:var(--el-select-input-font-size);-webkit-transition:-webkit-transform var(--el-transition-duration);transition:-webkit-transform var(--el-transition-duration);-o-transition:transform var(--el-transition-duration);transition:transform var(--el-transition-duration);transition:transform var(--el-transition-duration), -webkit-transform var(--el-transition-duration);-webkit-transform:rotateZ(180deg);-ms-transform:rotate(180deg);transform:rotateZ(180deg);cursor:pointer}.el-select .el-input .el-select__caret.is-reverse{-webkit-transform:rotateZ(0);-ms-transform:rotate(0);transform:rotateZ(0)}.el-select .el-input .el-select__caret.is-show-close{font-size:var(--el-select-font-size);text-align:center;-webkit-transform:rotateZ(180deg);-ms-transform:rotate(180deg);transform:rotateZ(180deg);border-radius:var(--el-border-radius-circle);color:var(--el-select-input-color);-webkit-transition:var(--el-transition-color);-o-transition:var(--el-transition-color);transition:var(--el-transition-color)}.el-select .el-input .el-select__caret.is-show-close:hover{color:var(--el-select-close-hover-color)}.el-select .el-input.is-disabled .el-input__inner{cursor:not-allowed}.el-select .el-input.is-disabled .el-input__inner:hover{border-color:var(--el-select-disabled-border)}.el-select .el-input.is-focus .el-input__inner{border-color:var(--el-select-input-focus-border-color)}.el-select__input{border:none;outline:0;padding:0;margin-left:15px;margin-left:0.1757rem;color:var(--el-select-multiple-input-color);font-size:var(--el-select-font-size);-webkit-appearance:none;-moz-appearance:none;appearance:none;height:28px;height:0.32796rem;background-color:transparent}.el-select__input.is-mini{height:14px;height:0.16398rem}.el-select__close{cursor:pointer;position:absolute;top:8px;top:0.0937rem;z-index:var(--el-index-top);right:25px;right:0.29283rem;color:var(--el-select-input-color);line-height:18px;line-height:0.21083rem;font-size:var(--el-select-input-font-size)}.el-select__close:hover{color:var(--el-select-close-hover-color)}.el-select__tags{position:absolute;line-height:normal;white-space:normal;z-index:var(--el-index-normal);top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.el-select .el-tag__close{margin-top:-2px;margin-top:-0.02343rem}.el-select .el-select__tags .el-tag{-webkit-box-sizing:border-box;box-sizing:border-box;border-color:transparent;margin:2px 0 2px 6px;margin:0.02343rem 0 0.02343rem 0.07028rem;background-color:#f0f2f5}.el-select .el-select__tags .el-tag .el-icon-close{background-color:var(--el-text-color-placeholder);right:-7px;right:-0.08199rem;top:0;color:#fff}.el-select .el-select__tags .el-tag .el-icon-close:hover{background-color:var(--el-text-color-secondary)}.el-select .el-select__tags .el-tag .el-icon-close::before{display:block;-webkit-transform:translate(0,.5px);-ms-transform:translate(0,.5px);transform:translate(0,.5px);-webkit-transform:translate(0,0.00586rem);-ms-transform:translate(0,0.00586rem);transform:translate(0,0.00586rem)}.input-amount[data-v-24d8321f] {
  overflow: hidden;
  background: #fff;
}
.input-amount input[data-v-24d8321f] {
  border: none;
  outline: none;
  padding: 10px;
  padding: 0.11713rem;
}
.input-amount input.disabled[data-v-24d8321f] {
  background: #f5f7fa;
  cursor: not-allowed;
}
.input-amount[data-v-24d8321f] .el-select {
  width: 70px;
  width: 0.81991rem;
  height: auto !important;
  line-height: normal !important;
}
.input-amount[data-v-24d8321f] .el-select .el-input__inner {
  padding-right: 26px;
  padding-right: 0.30454rem;
  padding-left: 0;
  text-align: right;
  border: none;
  height: auto !important;
  line-height: normal !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.input-amount[data-v-24d8321f] .el-select .el-select__caret {
  color: #fff;
  height: auto !important;
  line-height: normal !important;
}.batch-create .batch-create-list .batch-create-item .orginFile .val[data-v-4b1b4c22] {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.section-header .screen-item[data-v-4b1b4c22] {
  margin-right: 15px;
  margin-right: 0.1757rem;
}
.section-header .screen-item[data-v-4b1b4c22]:last-child {
  margin-right: 0;
}
.section-header .screen-item .key .title[data-v-4b1b4c22] {
  margin-right: 10px;
  margin-right: 0.11713rem;
}
.section-header .screen-item input[data-v-4b1b4c22],
.section-header .screen-item textarea[data-v-4b1b4c22] {
  border: 1px solid #eee;
  border: 0.01171rem solid #eee;
}
.upload-warp .upload[data-v-4b1b4c22] {
  width: 160px;
  width: 1.87408rem;
  height: 160px;
  height: 1.87408rem;
  border: 1px dashed #bfc2cc;
  border: 0.01171rem dashed #bfc2cc;
  border-radius: 6px;
  border-radius: 0.07028rem;
  position: relative;
}
.upload-warp .upload .add[data-v-4b1b4c22] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  text-align: center;
}
.upload-warp .upload .add .cover[data-v-4b1b4c22] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.upload-warp .upload .add .icon[data-v-4b1b4c22] {
  font-size: 24px;
  font-size: 0.28111rem;
  height: 24px;
  height: 0.28111rem;
  margin-right: 0;
  margin-top: 0;
}
.upload-warp .upload .add .close[data-v-4b1b4c22] {
  width: 100%;
  line-height: 50px;
  line-height: 0.58565rem;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-size: 0.16398rem;
  z-index: 2;
}
.upload-warp .upload .add .label[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
  font-size: 14px;
  font-size: 0.16398rem;
  color: #909399;
}
.upload-warp .upload .add input[data-v-4b1b4c22] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.input-item[data-v-4b1b4c22] {
  border-radius: 6px;
  border-radius: 0.07028rem;
  cursor: pointer;
}
.input-item input[data-v-4b1b4c22],
.input-item textarea[data-v-4b1b4c22] {
  padding: 14px;
  padding: 0.16398rem;
  background: #fff;
  font-size: 14px;
  font-size: 0.16398rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  border-radius: 0.07028rem;
}
.input-item input[data-v-4b1b4c22]::-webkit-input-placeholder, .input-item textarea[data-v-4b1b4c22]::-webkit-input-placeholder {
  color: #bfc2cc;
}
.input-item input[data-v-4b1b4c22]::-moz-placeholder, .input-item textarea[data-v-4b1b4c22]::-moz-placeholder {
  color: #bfc2cc;
}
.input-item input[data-v-4b1b4c22]:-ms-input-placeholder, .input-item textarea[data-v-4b1b4c22]:-ms-input-placeholder {
  color: #bfc2cc;
}
.input-item input[data-v-4b1b4c22]::-ms-input-placeholder, .input-item textarea[data-v-4b1b4c22]::-ms-input-placeholder {
  color: #bfc2cc;
}
.input-item input[data-v-4b1b4c22]::placeholder,
.input-item textarea[data-v-4b1b4c22]::placeholder {
  color: #bfc2cc;
}
.input-item textarea[data-v-4b1b4c22] {
  height: 144px;
  height: 1.68668rem;
  min-height: 144px;
  min-height: 1.68668rem;
  max-height: 144px;
  max-height: 1.68668rem;
  max-width: 100%;
  min-width: 100%;
}
.input-item .select-warp[data-v-4b1b4c22] {
  background: #fff;
  font-size: 14px;
  font-size: 0.16398rem;
  border-radius: 6px;
  border-radius: 0.07028rem;
  width: 100%;
  list-style: 48px;
  list-style: 0.56223rem;
  padding: 14px 14px;
  padding: 0.16398rem 0.16398rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: #120725;
}
.input-item .select-warp .picker-modal[data-v-4b1b4c22] {
  margin-top: 58px;
  margin-top: 0.67936rem;
}
.input-item .select-warp .key[data-v-4b1b4c22] {
  font-size: 14px;
  font-size: 0.16398rem;
}
.input-item .select-warp .value .placeholder[data-v-4b1b4c22] {
  color: #bfc2cc;
}
.input-item .select-warp .value i[data-v-4b1b4c22] {
  font-size: 14px;
  font-size: 0.16398rem;
  color: #d88b18;
  margin-left: 4px;
  margin-left: 0.04685rem;
}
.input-item .select-warp .value .classify[data-v-4b1b4c22] {
  margin-right: 10px;
  margin-right: 0.11713rem;
}
.input-item .select-warp .value .classify[data-v-4b1b4c22]:last-child {
  margin-right: 0;
}
.input-item .select-warp .value .preview[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
  margin-bottom: 10px;
  margin-bottom: 0.11713rem;
  color: #909399;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select {
  margin-left: -14px;
  margin-left: -0.16398rem;
  margin-right: -14px;
  margin-right: -0.16398rem;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-select__tags {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-select__tags .el-select__input {
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner {
  border: none;
  outline: none;
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner::-webkit-input-placeholder {
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner::-moz-placeholder {
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner:-ms-input-placeholder {
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner::-ms-input-placeholder {
  text-align: right;
}
.input-item .select-warp[data-v-4b1b4c22] .el-select .el-input__inner::placeholder {
  text-align: right;
}
.input-item .create-series-btn[data-v-4b1b4c22] {
  margin: 20px 20px 0 20px;
  margin: 0.23426rem 0.23426rem 0 0.23426rem;
}
.batch-create[data-v-4b1b4c22] {
  margin-top: 40;
  padding-bottom: 60px;
  padding-bottom: 0.70278rem;
}
.batch-create .batch-create-list[data-v-4b1b4c22] {
  margin-top: 40px;
  margin-top: 0.46852rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22] {
  width: calc((100% - 40px) / 5);
  width: calc((100% - 0.46852rem) / 5);
  margin-right: 10px;
  margin-right: 0.11713rem;
  margin-bottom: 10px;
  margin-bottom: 0.11713rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-bottom: 30px;
  margin-bottom: 0.35139rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(5n) {
  margin-right: 0;
}
.batch-create .batch-create-list .batch-create-item .input-file[data-v-4b1b4c22] {
  padding: 15px;
  padding: 0.1757rem;
  margin-top: 10px;
  margin-top: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item .upload-warp[data-v-4b1b4c22] {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.batch-create .batch-create-list .batch-create-item .upload-warp .upload[data-v-4b1b4c22] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
}
.batch-create .batch-create-list .batch-create-item input[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item textarea[data-v-4b1b4c22] {
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
}
.batch-create .batch-create-list .batch-create-item .input-item[data-v-4b1b4c22] {
  line-height: 30px;
  line-height: 0.35139rem;
}
.batch-create .batch-create-list .batch-create-item .orginFile[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item .index[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item .name[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item .intro[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item .orginFile[data-v-4b1b4c22] {
  position: relative;
  background: #fff;
  line-height: 30px;
  line-height: 0.35139rem;
  padding: 14px;
  padding: 0.16398rem;
  font-size: 14px;
  font-size: 0.16398rem;
  cursor: pointer;
}
.batch-create .batch-create-list .batch-create-item .orginFile .placeholder[data-v-4b1b4c22] {
  color: #aaa;
}
.batch-create .batch-create-list .batch-create-item .orginFile .val[data-v-4b1b4c22] {
  color: #120725;
}
.batch-create .batch-create-list .batch-create-item .orginFile input[data-v-4b1b4c22] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.batch-create .batch-create-list .batch-create-item .orginFile .picker-modal[data-v-4b1b4c22] {
  left: 0;
  margin-top: 60px;
  margin-top: 0.70278rem;
}
.batch-create .batch-create-list .batch-create-item .add[data-v-4b1b4c22] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #f5f7f9;
  z-index: 5;
  border: 1px dashed #aaa;
  border: 0.01171rem dashed #aaa;
  border-radius: 6px;
  border-radius: 0.07028rem;
  font-size: 48px;
  font-size: 0.56223rem;
  color: #aaa;
}
.batch-create .batch-create-list .batch-create-item .btn[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
  padding: 10px;
  padding: 0.11713rem;
  color: inherit;
  text-decoration: none;
  color: #120725;
}
.result .batch-create-tips[data-v-4b1b4c22] {
  font-weight: bold;
}
.result .result-msg .result-num[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
}
.result .result-msg .result-num span[data-v-4b1b4c22] {
  font-size: 32px;
  font-size: 0.37482rem;
  margin: 0 5px;
  margin: 0 0.05857rem;
  font-weight: bold;
}
.result .result-msg .el-progress[data-v-4b1b4c22] {
  margin-top: 30px;
  margin-top: 0.35139rem;
}
.select-series[data-v-4b1b4c22] .picker-modal {
  margin-top: 60px;
  margin-top: 0.70278rem;
}
@media only screen and (max-width: 600px) {
.section-header[data-v-4b1b4c22] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.section-header .screen-item[data-v-4b1b4c22] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    margin-bottom: 0.11713rem;
}
}
@media only screen and (max-width: 900px) {
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22] {
    width: calc((100% - 30px) / 4);
    width: calc((100% - 0.35139rem) / 4);
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(5n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(4n) {
    margin-right: 0px;
    margin-right: 0;
}
}
@media only screen and (max-width: 800px) {
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22] {
    width: calc((100% - 20px) / 3);
    width: calc((100% - 0.23426rem) / 3);
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(5n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(4n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(3n) {
    margin-right: 0px;
    margin-right: 0;
}
}
@media only screen and (max-width: 600px) {
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22] {
    width: calc((100% - 10px) / 2);
    width: calc((100% - 0.11713rem) / 2);
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(5n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(4n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(3n) {
    margin-right: 10px;
    margin-right: 0.11713rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22]:nth-child(2n) {
    margin-right: 0;
}
}
.batch-sale-drsc a[data-v-4b1b4c22] {
  color: #456FC4;
}
.batch-create[data-v-4b1b4c22] {
  padding-bottom: 60px;
  padding-bottom: 0.70278rem;
}
.batch-create .input-item[data-v-4b1b4c22] .el-datetime {
  width: 100%;
}
.batch-create .input-item[data-v-4b1b4c22] .el-datetime .el-input__inner {
  border: none;
  outline: none;
}
.batch-create .input-item .all-amount[data-v-4b1b4c22] {
  width: 150px;
  width: 1.75695rem;
}
.batch-create .batch-create-list .batch-create-item[data-v-4b1b4c22] {
  background: #eee;
}
.batch-create .batch-create-list .batch-create-item input[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item textarea[data-v-4b1b4c22] {
  border-radius: 0;
}
.batch-create .batch-create-list .batch-create-item input.disabled[data-v-4b1b4c22],
.batch-create .batch-create-list .batch-create-item textarea.disabled[data-v-4b1b4c22] {
  background: #f5f7fa;
  cursor: not-allowed;
}
.batch-create .batch-create-list .batch-create-item.un-selected[data-v-4b1b4c22] {
  background: #bfc2cc;
}
.disabled[data-v-4b1b4c22] {
  cursor: not-allowed;
}
.same-sale-drsc[data-v-4b1b4c22] {
  padding: 10px;
  padding: 0.11713rem;
  background: #fff;
  margin-top: 15px;
  margin-top: 0.1757rem;
  color: #120725;
}
.same-sale-drsc .name[data-v-4b1b4c22] {
  margin-right: 5px;
  margin-right: 0.05857rem;
  line-height: 40px;
  line-height: 0.46852rem;
}
.same-sale-drsc .el-switch[data-v-4b1b4c22] {
  margin-top: 10px;
  margin-top: 0.11713rem;
}
.same-sale-drsc .el-datetime[data-v-4b1b4c22] {
  margin-left: 15px;
  margin-left: 0.1757rem;
}
.same-sale-drsc .textarea[data-v-4b1b4c22] {
  margin-left: 15px;
  margin-left: 0.1757rem;
  padding: 10px;
  padding: 0.11713rem;
  border: 1px solid #eee;
  border: 0.01171rem solid #eee;
  border-radius: 6px;
  border-radius: 0.07028rem;
}
.same-sale-drsc .textarea textarea[data-v-4b1b4c22] {
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  min-height: 1.75695rem;
}
.same-sale-drsc .textarea .confirm[data-v-4b1b4c22] {
  text-align: right;
}
@media only screen and (max-width: 750px) {
.section-bottm[data-v-4b1b4c22] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
}